.App {
  text-align: center;
}

.Search-bar {
  background-color: white;
  width: 80%;
  margin-bottom: 3%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Album-cover {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Album-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.Album {
  background-color: #02DE99;
  width: 30%;
}

.App-header {
  background-color: #101016;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #E0E0E0;
}

.Title {
  color: #02DE99;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
