.App {
  text-align: center;
}

.Search-bar {
  background-color: white;
  width: 80%;
  margin-bottom: 3%;
  display: flex;
  border-radius: 20px;
}

h1 {
  margin: none;
}

.Search-bar input {
  width: 100%;
  border: none;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Album-cover1 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.Album-cover2 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.Album-cover3 {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Album-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.Album {
  background-color: #02DE99;
  width: 30%;
  min-height: 400px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.App-header {
  background-color: #101016;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #E0E0E0;
}

.Title {
  color: #02DE99;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
